<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Tipo identificación</th>
          <th># identificación</th>
          <th>Primer nombre</th>
          <th>Segundo nombre</th>
          <th>Primer apellido</th>
          <th>Segundo apellido</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>EPS</th>
          <th>AFP</th>
          <th>Salario</th>
          <th>Fecha ingreso</th>
          <th>Fecha retiro</th>
          <th>Estado</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.tipo_id %></td>
            <td><%= employee.no_id %></td>
            <td><%= employee.primer_nombre %></td>
            <td><%= employee.segundo_nombre %></td>
            <td><%= employee.primer_apellido %></td>
            <td><%= employee.segundo_apellido %></td>
            <td><%= employee.direccion %></td>
            <td><%= employee.telefono %></td>
            <td><%= employee.eps %></td>
            <td><%= employee.afp %></td>
            <td><%= employee.salario %></td>
            <td><%= employee.fecha_ingreso %></td>
            <td><%= employee.fecha_retiro %></td>
            <td><%= employee.estado %></td>
            <td><%= link_to 'Show', employee, class: "btn btn-mini" %></td>
            <td><%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-mini" %></td>
            <td><%= link_to 'Destroy', employee, method: :delete, class: "btn btn-mini", data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Employee', new_employee_path %>
<%= will_paginate @employees %>

<h2>Import Employees</h2>

<%= form_tag import_employees_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
