<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <p id="notice"><%= notice %></p>

        <%= image_tag @employee.cover.url(:medium), class:"double-border" %>

      <br>
      <br>

        <div class="media">
          <div class="media-body">
            <table class="table table-striped">

              <tr>
                <td> <strong>Tipo:</strong> </td>
                <td>  <%= @employee.tipo_id %> </td>
              </tr>
              
              <tr>
                <td> <strong>No:</strong> </td>
                <td> <%= @employee.no_id %> </td>
              </tr> 

              <tr>
                <td> <strong>Primer nombre:</strong> </td>
                <td> <%= @employee.primer_nombre %> </td>
              </tr>

              <tr>
                <td> <strong>Segundo nombre:</strong> </td>
                <td> <%= @employee.segundo_nombre %> </td>
              </tr>

              <tr>
                <td> <strong>Primer apellido:</strong> </td>
                <td> <%= @employee.primer_apellido %> </td>
              </tr>
                
              <tr>
                <td> <strong>Segundo apellido:</strong> </td>
                <td><%= @employee.segundo_apellido %></td>
              </tr> 

              <tr>
                <td> <strong>Direccion:</strong> </td>
                <td><%= @employee.direccion %></td>
              </tr> 
                
              <tr>
                <td> <strong>Telefono:</strong> </td>
                <td><%= @employee.telefono %></td>
              </tr>

              <tr>
                <td> <strong>Eps:</strong> </td>
                <td><%= @employee.eps %></td>
              </tr>  
                
              <tr>
                <td> <strong>Afp:</strong> </td>
                <td><%= @employee.afp %></td>
              </tr>

              <tr>
                <td> <strong>Salario:</strong> </td>
                <td><%= @employee.salario %></td>
              </tr>

              <tr>
                <td> <strong>Fecha ingreso:</strong> </td>
                <td><%= @employee.fecha_ingreso %></td>
              </tr>

              <tr>
                <td> <strong>Fecha retiro:</strong> </td>
                <td><%= @employee.fecha_retiro %></td>
              </tr> 
                
              <tr>
                <td> <strong>Estado:</strong> </td>
                <td><%= @employee.estado %></td>
              </tr>  
            </table>
          </div>
        </div>         
            
            <dl class="dl-horizontal boton">
          <dt><%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-primary" %> </dt>
          <dd><%= link_to 'Back', employees_path, class: "btn btn-success" %></dd>
        </dl>
    </div>
  </div>
</div>
