<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
      <div class="navbar-brand topnav">
        <%= link_to "About", employees_path %>
        <% if user_signed_in? %>
          <%= link_to "Employees", employees_path %>
        <% end %> 
      </div>  
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>         
      </ul>
    </div>
  </div>
<<<<<<< HEAD
</nav>
=======
</nav>
>>>>>>> 13562229925ff80c2f136110818375404bc1e033
